body{
  background-image: url(https://images.unsplash.com/photo-1607851555973-39e3fb1293ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHdpVGNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
  color: azure;
  font-weight: bolder;
}

.zodiac {
  
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
  }

  .sign {
    width: 300px;
    height: 300px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in-out;
  }

  .sign:hover{
scale: 1.1;
transition: all 1s ease-in-out;
  }
  p{
    color: aliceblue;
    font-size: 30px;

  }